body {
     background-color: #F9F9FF;
}

.expense-tracker_header {
     display: flex;
     flex-direction: row;
     position: relative;
     justify-content: space-evenly;
     align-items: center;
     font-family: 'Arial', sans-serif;
     margin: 0 auto;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     height: 100vh;
     background-color: #F9F9FF;

}

@media (max-width: 1090px) {
     .expense-tracker_header {
          flex-direction: column;
          gap: 20px;
          padding: 16px;
     }

     .header {
          min-width: 90%;
     }

     .expenses {
          min-width: 90%;
     }
}

@media (max-width: 620px) {
     .expense-tracker_header {
          flex-direction: column;
          gap: 15px;
          padding: 70px 12px 12px 12px;
     }

     .header {
          max-width: 90%;
          max-height: 40%;
     }

     .expenses {
          max-width: 90%;
          min-height: 65%;
     }

     .header-title {
          font-size: 18px;
     }

     .clear-button {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 10px;
          background-color: #FF6347;
          color: white;
          padding: 10px;
          border: none;
          cursor: pointer;
          margin-top: 20px;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
     }

     .settings-container {
          height: 500px;
          max-width: 86%;
          padding: 20px;
     }
}

.header {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     text-align: center;
     padding: 0 20px 20px 20px;
     border-radius: 30px;
     border: 1px solid #000000;
     background: #FBFBFE;
     box-shadow: 0px 1px 10px 0px rgba(54, 50, 255, 0.05);
     height: auto;
     width: 400px;
}

.header-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}

.header h1 {
     font-size: 18px;
     color: #333;
     margin-top: 20px;
}

.header p {
     font-size: 20px;
     font-weight: bold;
     margin: 0;
}

.expenses .expense-item {
     display: flex;
     width: 100%;
     justify-content: space-between;
     padding: 10px 0;
     border-top: 1px solid #ddd;
}

.expense-name,
.expense-price {
     font-size: 16px;
     font-weight: bold;
}

.expense-date {
     color: #6e6e6e;
     font-size: 14px;
}

.expenses {
     display: flex;
     height: 400px;
     width: 500px;
     flex-direction: column;
     padding-left: 20px;
     padding-right: 20px;
     border-radius: 30px;
     border: 1px solid #000000;
     background: white;
     box-shadow: 0px 1px 10px 0px rgba(54, 50, 255, 0.05);
     overflow-y: auto;
     scroll-snap-align: start;
}

.expenses h2 {
     font-size: 18px;
}

.expense-location {
     text-align: right;
}

.expense-price-location-info {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
}

.expense-location {
     color: #6e6e6e;
     font-size: 14px;
}

.expenses::-webkit-scrollbar {
     width: 0px;
     height: 0px;
}

.expense-form {
     display: flex;
     flex-direction: column;
}

.expense-form input {
     margin: 10px 0;
     padding: 12px;
     border: 1px solid #ddd;
     border-radius: 10px;
}

.expense-form button {
     padding: 12px;
     border: none;
     border-radius: 10px;
     background-color: black;
     color: white;
     cursor: pointer;
}

.clear-button {
     position: absolute;
     right: 30px;
     bottom: 30px;
     border-radius: 10px;
     background-color: #FF6347;
     color: white;
     padding: 10px;
     border: none;
     cursor: pointer;
     margin-top: 20px;
}

.clear-button:hover {
     background-color: #ff4d35;
}

.chart-container {
     font-family: 'Arial', sans-serif;
     margin: 0 auto;
     width: 100%;
     max-width: 1100px;
     margin: 0 auto;
     padding: 20px;
     background: white;
     border-radius: 10px;
     background-color: #F9F9FF;
}

.bar {
     margin-top: 60px;
     border-radius: 30px;
     border: 1px solid #000000;
     padding: 20px;

}

.expense-tracker {
     position: relative;
}

.tab-nav {
     position: absolute;
     top: 2%;
     left: 50%;
     transform: translateX(-50%);
     display: flex;
     justify-content: center;
     background-color: transparent;
     border-radius: 50px;
     gap: 10px;
     z-index: 999;
}


.tab-nav button {
     flex: 1;
     padding: 8px 20px;
     /* Control padding to make the button smaller */
     border: none;
     font-size: 16px;
     cursor: pointer;
     border-radius: 25px;
     /* Ensures buttons have rounded corners */
     background-color: #e2e2e2;
     transition: background 0.3s, transform 0.3s;
     /* Added transition for transform */
}

.tab-nav button:hover {
     background-color: #d4d4d4;
     /* Background color when hovering */
     transform: scale(1.05);
     color: #000;
     /* Slightly increase button size on hover */
}

.tab-nav .active {
     background-color: black;
     color: white;
     border-radius: 25px;
     /* Keeps the rounded corners consistent */
}

.chart-container {
     width: 100%;
     height: 80vh;
}

@media (max-width: 768px) {
     .tab-nav button:nth-child(2) {
          /* Chart button */
          display: none;
          /* Hide the chart button on mobile */
     }
}

.settings-view {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 100vh;
     padding: 80px 20px;
     font-family: 'Arial', sans-serif;
     margin: 0 auto;
}

.export-button {
     font-family: 'Arial', sans-serif;
     max-width: 160px;
     padding: 10px 16px;
     background-color: #000;
     color: white;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     font-size: 16px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.export-button:hover {
     background-color: #2e2e2e;
}

.settings-view {
     margin: 0;
     padding: 90px 0;
}

.settings-container {
     display: flex;
     margin: 0;
     height: 500px;
     width: 500px;
     flex-direction: column;
     padding: 20px;
     background: white;
     border-radius: 30px;
     border: 1px solid #000000;
     box-shadow: 0px 1px 10px 0px rgba(54, 50, 255, 0.05);
}

.export-button-field {
     padding-bottom: 20px;
     border-bottom: 1px solid #acacac;
}